name: Coverage

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-tarpaulin
      - run: cargo tarpaulin --out Xml
      - uses: codecov/codecov-action@v5
        # A codecov token is not needed for public repos if the repo is linked
        # on codecov.io. See https://docs.codecov.com/docs/frequently-asked-questions#where-is-the-repository-upload-token-found
      - uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: cobertura.xml
